<% import SiteGenerator.Helpers %>

<table class="cookies">
  <thead>
    <tr>
      <th width="200">Domän</th>
      <th width="200">Namn</th>
      <th width="150">Värde</th>
      <th width="150">Åtkomstdatum</th>
      <th width="150">Utgångsdatum</th>
    </tr>
  </thead>
  <tbody>
    <%= for cookie <- cookies do %>
      <tr>
        <td><%= cookie[:base_domain] %></td>
        <td><%= truncate(cookie[:name], 20) %></td>
        <td><%= truncate(cookie[:value], 20) %></td>
        <td><%= format_datetime(cookie[:last_accessed]) %></td>
        <td><%= if cookie[:is_session] == 1, do: "session", else: format_datetime(cookie[:expiry]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>