<section class="text">
  <h3>Kommunkarta</h3>
  <p>Klicka på en kommun för att se detaljerad information.</p>

  <p>Kommunerna har fått något av betygen <span class="score-a">A</span>, <span class="score-b">B</span>, <span class="score-c">C</span>, <span class="score-d">D</span> eller <span class="score-e">E</span>. <a href="metodologi.html">Läs mer om betygen</a>.
  
  <div id="tooltip" class="hidden">
    <p><strong><span id="kommun"></span></strong></p>
    <p id="description"></p>
  </div>

  <div id="vis"></div>
</section>

<script src="js/d3.v3.min.js"></script>
<script src="js/municipalityMap.js"></script>